<div class="row m-3">
    <div class="card m-3">

        <div class="row m-5">
            <div class="col-xl-6 order-xl-2">
                <img src="/static/assets/img/theme/change_pwd.jpg" width="100%" alt="Change Password">
            </div>
            <div class="col-xl-6 order-xl-1">
                <form method="POST" action="/change-password" class="w-[50%]">
                    <div class="form-group">
                        <label for="old_password">Old Password</label>
                        <input type="password" name="old_password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <input type="password" name="new_password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm New Password</label>
                        <input type="password" name="confirm_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div id="notifications">
    <!-- Success or error messages will appear here -->
</div>
