<div class="row m-3">
    <div class="card m-3">
        <div class="row m-5">
            <div class="col-xl-6 order-xl-2">
                <img src="/static/assets/img/theme/change_pwd.jpg" width="100%" alt="Change Password">
            </div>
            <div class="col-xl-6 order-xl-1">
                <form method="POST" action="/change-password" class="w-[50%]">
                    <div class="form-group">
                        <label for="old_password">Old Password</label>
                        <div class="input-group mb-3">
                            <input type="password" id="old_password" name="old_password" class="form-control"
                                  aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" onclick="togglePassword('old_password', this)"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="new_password">New Password</label>
                        <div class="input-group">
                            <input type="password" id="new_password" name="new_password" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" onclick="togglePassword('new_password', this)"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm New Password</label>
                        <div class="input-group">
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" onclick="togglePassword('confirm_password', this)"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="notifications">
    <!-- Success or error messages will appear here -->
</div>

<script>
    function togglePassword(id, element) {
        var input = document.getElementById(id);
        if (input.type === "password") {
            input.type = "text";
            element.classList.remove("fa-eye");
            element.classList.add("fa-eye-slash");
        } else {
            input.type = "password";
            element.classList.remove("fa fa-eye-slash");
            element.classList.add("fa-eye");
        }
    }
</script>