<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Search form -->
            <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
                <div class="form-group mb-0">
                    <div class="input-group input-group-alternative input-group-merge">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input class="form-control" placeholder="Search" type="text">
                    </div>
                </div>
                <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </form>
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center  ml-md-auto ">
                <!-- Fullscreen icon -->
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="toggleFullscreen()" data-toggle="tooltip" title="Fullscreen">
                        <i class="fas fa-expand"></i>
                    </a>
                </li>
                <!-- Text size icon -->
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="increaseTextSize()" data-toggle="tooltip"
                       title="Increase Text Size">
                        <i class="fas fa-text-height"></i>
                    </a>
                </li>

{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        <img src="/static/assets/img/brand/united-kingdom.png" alt="English"#}
{#                             style="width: 24px; height: 24px;"> English#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#" id="lang-en-btn">#}
{#                            <img src="/static/assets/img/brand/united-kingdom.png" alt="English"#}
{#                                 style="width: 24px; height: 24px;"> English#}
{#                        </a>#}
{#                        <a class="dropdown-item" href="#" id="lang-fr-btn">#}
{#                            <img src="/static/assets/img/brand/france.png" alt="Français"#}
{#                                 style="width: 24px; height: 24px;"> Français#}
{#                        </a>#}
{#                    </div>#}
{#                </li>#}
                <li class="nav-item d-xl-none">
                    <!-- Sidenav toggler -->
                    <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                         data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </li>
                <li class="nav-item d-sm-none">
                    <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                        <i class="ni ni-zoom-split-in"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media align-items-center">
                            <span class="avatar avatar-sm rounded-circle bg-white">
                                <img alt="Image placeholder" src="/static/assets/img/theme/profile.jpg">
                            </span>
                            <div class="media-body ml-2 d-flex flex-lg-column flex-sm-column">
                                <span class="mb-0 text-sm font-weight-bold">
                                    {{ current_user.username }}
                                </span>
                                <span class="mb-0 text-sm">
                                    {{ current_user.role }}
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">Welcome!</h6>
                        </div>
                        <a href="/settings" class="dropdown-item">
                            <i class="ni ni-single-02"></i>
                            <span>My profile</span>
                        </a>
                        <a href="/docs" class="dropdown-item">
                            <i class="fa fa-book-open"></i>
                            <span>Documentation</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('authentication_blueprint.logout') }}"
                           class="dropdown-item bg-gradient-danger">
                            <i class="ni ni-button-power text-white"></i>
                            <span class="text-white">Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    /**
     * Toggles the fullscreen mode of the current document.
     */
    function toggleFullscreen() {
        if (!document.fullscreenElement) {
            document.documentElement.requestFullscreen();
        } else if (document.exitFullscreen) {
            document.exitFullscreen();
        }
    }

    /**
     * Increases the font size of all elements on the page by 1 pixel.
     */
    function increaseTextSize() {
        const elements = document.querySelectorAll('body, body *');
        elements.forEach(el => {
            const currentSize = window.getComputedStyle(el).fontSize;
            const newSize = parseFloat(currentSize) + 1;
            el.style.fontSize = `${newSize}px`;
        });
    }

    /**
     * Language switcher to toggle between English and French.
     */
    document.getElementById('lang-en-btn').addEventListener('click', function () {
        // Your logic to switch to English
        alert('Switched to English');
    });

    document.getElementById('lang-fr-btn').addEventListener('click', function () {
        // Your logic to switch to French
        alert('Passé au Français');
    });
</script>
