{% extends 'layouts/base.html' %}

{% block title %} Evenements {% endblock title %}

{% block content %}


    <div class="header bg-primary pb-6" style="background-image: url(/static/assets/img/theme/bg1.jpg)">
        <div class="container-fluid">
            <div class="header-body d-flex flex-column">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7 d-flex flex-column flex-lg-column flex-sm-column flex-md-column">
                        <h1 class="display-2 text-[150px] font-weight-800 text-white d-inline-block mb-1 ">Welcome 👋</h1>
                        <p class="text-white-50 mb-5">
                            Start the day with managing new events
                        </p>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Events</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        {% if current_user.role == 'admin' or current_user.role == 'dsi' %}
            {% include "home/admin/event-admin.html" %}
        {% else %}
            {% include "home/guest/event-guest.html" %}
        {% endif %}

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
