{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} 

{% block content %}

    {% if current_user.role == 'admin' or current_user.role == 'dsi' %}
        {% include "home/admin/index.html" %}
    {% else %}
        {% include "home/guest/index.html" %}
    {% endif %}

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <script src="/static/assets/js/tailwindcss.js></script>

{% endblock javascripts %}