{% extends 'layouts/base.html' %}

{% block title %} Settings {% endblock title %}

{% block content %}

    <div class="header bg-primary pb-6" style="background-image: url(/static/assets/img/theme/bg1.jpg)">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7 d-flex flex-lg-column">
                        <h1 class="display-2 text-[150px] font-weight-800 text-white d-inline-block mb-5">Settings</h1>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Settings</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="settingsTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link flex gap-2 active" id="profile-tab" data-toggle="tab" href="#profile"
                                   role="tab"
                                   aria-controls="profile" aria-selected="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 24 24">
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/>
                                            <path fill="#2b79d9"
                                                  d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2M8.5 9.5a3.5 3.5 0 1 1 7 0a3.5 3.5 0 0 1-7 0m9.758 7.484A7.99 7.99 0 0 1 12 20a7.99 7.99 0 0 1-6.258-3.016C7.363 15.821 9.575 15 12 15s4.637.821 6.258 1.984"/>
                                        </g>
                                    </svg>
                                    Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link flex gap-2" id="security-tab" data-toggle="tab" href="#security"
                                   role="tab"
                                   aria-controls="security" aria-selected="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 16 16">
                                        <path fill="#2b79d9"
                                              d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
                                    </svg>
                                    Sécurité
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link flex gap-2" id="appearance-tab" data-toggle="tab" href="#appearance"
                                   role="tab"
                                   aria-controls="appearance" aria-selected="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 24 24">
                                        <path fill="#2b79d9"
                                              d="M9 21H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h4c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2m6 0h4c1.1 0 2-.9 2-2v-5c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2v5c0 1.1.9 2 2 2m6-13V5c0-1.1-.9-2-2-2h-4c-1.1 0-2 .9-2 2v3c0 1.1.9 2 2 2h4c1.1 0 2-.9 2-2"/>
                                    </svg>
                                    Apparence
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link flex gap-2" id="notification-tab" data-toggle="tab"
                                   href="#notification"
                                   role="tab" aria-controls="notification" aria-selected="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                         viewBox="0 0 56 56">
                                        <path fill="#2b79d9"
                                              d="M28 51.906c13.055 0 23.906-10.851 23.906-23.906c0-13.078-10.875-23.906-23.93-23.906C14.899 4.094 4.095 14.922 4.095 28c0 13.055 10.828 23.906 23.906 23.906m-10.523-15.82c-1.22 0-1.922-.61-1.922-1.547c0-1.336 1.335-2.484 2.484-3.68c.867-.96 1.078-2.859 1.172-4.406c.117-5.039 1.476-8.508 4.969-9.773c.515-1.711 1.898-3.07 3.82-3.07s3.281 1.359 3.82 3.07c3.469 1.265 4.852 4.734 4.946 9.773c.093 1.547.28 3.445 1.195 4.406c1.148 1.172 2.484 2.344 2.484 3.68c0 .938-.726 1.547-1.922 1.547ZM28 41.5c-2.25 0-3.867-1.594-4.031-3.516h8.062C31.867 39.906 30.227 41.5 28 41.5"/>
                                    </svg>
                                    Notification
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="settingsTabsContent">
                            <div class="tab-pane fade show active" id="profile" role="tabpanel"
                                 aria-labelledby="profile-tab">
                                {#<h4>Profile</h4>#}
                                {% include 'home/settings/profile-tabs.html' %}
                            </div>
                            <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                                <h4>Sécurité</h4>
                                {% include 'home/settings/security-tabs.html' %}
                                {#<p>You are connected from : {{ device_info[0] }} - {{ device_info[1] }}</p>#}
                            </div>
                            <div class="tab-pane fade" id="appearance" role="tabpanel" aria-labelledby="appearance-tab">
                                <h4>Apparence</h4>
                                <p>Contenu de l'onglet Apparence...</p>
                            </div>
                            <div class="tab-pane fade" id="notification" role="tabpanel"
                                 aria-labelledby="notification-tab">
                                <h4>Notification</h4>
                                <p>Contenu de l'onglet Notification...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#settingsTabs a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });
    </script>
{% endblock javascripts %}
