{% extends 'layouts/base.html' %}

{% block title %} Assistance {% endblock title %}

{% block content %}


    <div class="header bg-primary pb-6" style="background-image: url(/static/assets/img/theme/bg1.jpg)">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7 d-flex flex-lg-column">
                        <h1 class="display-2 text-[150px] font-weight-800 text-white d-inline-block mb-5">Help Desk</h1>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Support</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">

        <div class="container mx-auto py-6">
            <h1 class="text-3xl font-bold text-center mb-6">Support</h1>
            <p class="text-gray-700 text-xl">If you have any questions or need assistance with anything, please feel free to
                reach out to us.
            </p>
            <div class="bg-white rounded-lg shadow-lg p-6">
                <p class="text-gray-700">You can email us at <a href="mailto:support@example.com"
                                                                class="text-blue-500 hover:underline">support@example.com</a>
                    or you can call us at <a href="tel:1-800-123-4567" class="text-blue-500 hover:underline">1-800-123-4567</a>.
                </p>
                <p class="text-gray-700">We are available 24/7 to help you with your questions and concerns.</p>
            </div>
        </div>

        {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
