<div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header rounded-bottom p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-green shadow-dark text-center rounded mt-n4 position-absolute">
                    <i class="fa fa-check-circle text-white opacity-10"></i>
                </div>
                <div class="text-right pt-1">
                    <p class="text-xl mb-0 text-capitalize font-weight-800">0</p>
                    <h4 class="mb-0">Scheduled events</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header rounded-bottom p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-blue shadow-primary text-center rounded mt-n4 position-absolute">
                    <i class="fa fa-hourglass-half text-white opacity-10"></i>
                </div>
                <div class="text-right pt-1">
                    <p class="text-xl mb-0 text-capitalize font-weight-800">{{ pending_count }}</p>
                    <h4 class="mb-0">Pending events</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
            <div class="card-header rounded-bottom p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-danger shadow-success text-center rounded mt-n4 position-absolute">
                    <i class="fa fa-exclamation-triangle text-white opacity-10"></i>
                </div>
                <div class="text-right pt-1">
                    <p class="text-xl mb-0 text-capitalize font-weight-800">0</p>
                    <h4 class="mb-0">Cancelled events</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Table Events -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">Events</th>
            <th scope="col">Events Date</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for declaration in declarations %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ declaration.statut }}</td>
                <td>{{ declaration.declaration_type }}</td>
                <td>{{ declaration.timestamp.strftime('%d/%m/%Y') }}</td>
                <td>{{ declaration.member.name }} {{ declaration.member.firstName }}</td>
                {#                <td>#}
                {#                    <a href="{{ url_for('blueprint.delete_declaration', id=declaration.id) }}">delete</a> |#}
                {#                    <a href="{{ url_for('blueprint.schedule_declaration', id=declaration.id) }}">schedule</a>#}
                {#                </td>#}
                <td>
                    <a href="#" data-toggle="modal" data-target="#rejectModal-{{ declaration.id }}">Reject</a> |
                    <a href="#">schedule</a>
                </td>
            </tr>
            <!-- Modal de rejet -->
            <div class="modal fade" id="rejectModal-{{ declaration.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="rejectModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="rejectModalLabel">Cancel Declaration</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="{{ url_for('home_blueprint.reject_declaration', id=declaration.id) }}" method="POST" >
                            <div class="modal-body">
                                <p>Please fill in the following details to cancel the declaration</p>
                                <div class="form-group">
                                    <label for="reason">Reason for cancellation</label>
                                    <textarea name="reason" class="form-control" id="reason"
                                              placeholder="Enter your reason here"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Cancel Declaration</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- End of table -->

